
.navbar {
   display: flex;
   width: 100%;
   position: fixed;
   left: 0;
   top: 0;
   background-color: rgba(8, 8, 12, 0.8);
   height: 70px;
   z-index: 100;
   &:hover{
      background-color: rgb(8, 8, 12,);
      transition: .7s ;
   }

   &-wrap {
      //.navbar-wrap/
      @include flex-center();
      min-height: 70px;
      @include respond-to(lg){
         justify-content: space-between;
      }
   }

   &-menu {
      //navbar-menu/
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include respond-to(lg){
         display: none;
      }
   }

   &-menu__item {
      //.navbar-menu__item/
      position: relative;
      @include flex-center();
      margin: 0 18px;
      padding: 24px 0;
      box-sizing: border-box;
      background-color: rgba(8, 8, 12, 0.0);
      border: none;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      color: #959596;
   }

   &-menu__item:hover {
      &:before {
         position: absolute;
         top: 0;
         left: 30%;
         content: '';
         width: 27px;
         height: 2px;
         background-color: $red;
      }

      &:after {
         position: absolute;
         bottom: 0;
         left: 30%;
         content: '';
         width: 27px;
         height: 2px;
         background-color: $red;
      }
   }

   &-menu__item:focus {
      &:before {
         position: absolute;
         top: 0;
         left: 30%;
         content: '';
         width: 27px;
         height: 2px;
         background-color: $red;
      }

      &:after {
         position: absolute;
         bottom: 0;
         left: 30%;
         content: '';
         width: 27px;
         height: 2px;
         background-color: $red;
      }
   }
}

.header-wrap {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   background-color: #000000;
   height: 70px;
}

.header-menu {
   @include flex-center();
   @include respond-to(lg){
      justify-content: space-around;
   }
}

.nav-menu {
   display: flex;
   justify-content: space-around;
   list-style: none;
   @include respond-to(lg){
      display: none;
   }

   &__item {
      //.nav-menu__item/
      display: flex;
      align-items: center;
      margin: 0 18px;
      color: #959596;
      background: #000000;
      border: none;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;


      &:hover {
         border-bottom: solid 2px #FF0036;
         border-top: solid 2px #FF0036;
         color: #ffffff;
         cursor: pointer;
      }

      &:focus {
         border-bottom: solid 2px #FF0036;
         border-top: solid 2px #FF0036;
         color: #ffffff;
      }

      &:active {
         border-bottom: solid 2px #FF0036;
         border-top: solid 2px #FF0036;
         color: #ffffff;
      }
   }
}
a{
cursor: pointer;
}

.logo {
   position: relative;
   top: -10px;
   width: 250px;
   height: 68px;

   &__icon {
      //.logo__icon/
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      @include respond-to(lg){
         width: 70%;
         top: -15px;
      }
      @include respond-to(xs){
         width: 50%;
         top: -25px;
      }
   }

   &__text {
      //.logo__text/
      display: block;
      position: absolute;
      font-size: 30px;
      width: 100%;
      left: 0;
      bottom: 5px;
      text-align: center;
      color: #ffffff;
      @include respond-to(lg){
           font-size: 20px;
           left: -35px;
           bottom: 15px;
        }
      @include respond-to(xs){
         font-size: 16px;
         left: -63px;
         bottom: 20px;
      }
   }
}

.navbar-burger {
   display: none;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   background-color: #000000;
   border: none;
   border-top: 2px solid #FF0036;
   border-bottom: 2px solid #FF0036;
   height: 70px;
   width: 60px;
   &__line{
      //.navbar-burger__line/
      display: block;
      margin: 2px 0;
      width: 25px;
      height: 3px;
      background-color: #FFFFFF;
   }

   @include respond-to(lg) {
      display: flex;
   }

}






