.section7 {
   width: 100%;
   height: 100%;
   padding: 100px 0;
   background-color: #272727;
   color: #A2A2A2;

   &-wrap {
      //section7-wrap/
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
      @include flex-space-between();
   }
}

.hex {
   width: 54px;
   height: 31px;
   background: #FFFFFF;
   top: 50%;
   left: 50%;
   transform: rotate(90deg);
   margin-bottom: 30px;
   @include respond-to(xs) {
      width: 55px;
      height: 30px;

   }
}

.hex:before,
.hex:after {
   content: '';
   width: 100%;
   height: 100%;
   background: #FFFFFF;
   position: absolute;
}

.hex:before {
   transform: rotate(60deg);
}

.hex:after {
   transform: rotate(-60deg);

}

.hex,
.hex:before,
.hex:after {
   background: #E7E7E7;
}

.box {
   display: flex;
   flex-direction: column;
   flex-basis: calc(50% - 20px);
   @include respond-to(xl) {
      flex-basis: calc(100% - 20px);
   }

   &-top {
      //box-top/
      display: flex;
      margin-bottom: 30px;
   }

   &__title {
      //box__title
      margin-left: 30px;
      text-transform: uppercase;
      font-size: 22px;
      color: #FFFFFF;
      @include respond-to(md) {
         margin-left: 25px;
         font-size: 20px;
      }
   }

   &__text {
      //box__text/
      background-color: #343434;
      margin-bottom: 50px;
      padding: 20px;
      width: 100%;
      line-height: 22px;
      @include respond-to(md) {
         margin-bottom: 30px;
         padding: 15px;
         width: 100%;
         font-size: 14px;
         line-height: 20px;
      }
   }

   &:hover {
      //box:hover/
      .box__text {
         transition: .4s ease-in-out;
         background-color: #3D2329;
      }

      .hex,
      .hex:before,
      .hex:after {
         transition: .4s ease-in-out;
         background: $red;
      }

      .hex-svg {
         transition: .4s ease-in-out;
         fill: #FFFFFF;
      }
   }
}

.hex-svg {
   position: absolute;
   top: 0;
   width: 30px;
   height: 30px;
   fill: #272727;
   z-index: 10;
   transform: rotate(-90deg);
   left: 12px;
}
