.section6 {
   width: 100%;
   height: 100%;
   padding: 100px 0;
}
.block {
   @include flex-space-between();
   width: 100%;
   height: 100%;
   flex-wrap: wrap;
   margin-bottom: 100px;

   .card-box {
      @include flex-column();
      flex-basis: calc(25% - 30px);
      padding: 0;
      margin: 15px;
      position: relative;

      @include respond-to(lg) {
         flex-basis: calc(50% - 30px);
         margin: 15px;
      }
      @include respond-to(md) {
         flex-basis: calc(50% - 30px);
         margin: 15px;
      }
      @include respond-to(xl) {
         flex-basis: calc(50% - 30px);
         margin: 20px 15px;
      }
      @include respond-to(xs) {
         flex-basis: calc(100% - 20px);
         margin: 20px 10px;
      }
      &:hover {

         .card-box__title {
            color: $red;
         }

         .card-box-img__item {
            transition: .3s ease-in-out;
            opacity: .2;
         }


         .hover-wrap {
            @include flex-space-between();
         }
         .hex6-svg{
            fill: #FF0036;
         }
      }
      &__border{
         @include flex-column();
         flex-basis: calc(25% - 30px);
         position: relative;
         border: solid 1px #F1F1F1;
      }
      &-img {
         //card-box__img/
         background-color: #000000;
         margin-bottom: 30px;
         @include respond-to(md){
            width: 222px;
         }
      }
      &-img__item{
         //card-box-img__item/
         width: 100%;
      }

      &__title {
         //card-box__title/
         margin-bottom: 25px;
         font-size: 20px;
         font-weight: bold;
         color: #000000;
         text-transform: uppercase;
         @include respond-to(md) {
            font-size: 18px;
         }
         @include respond-to(xl) {
            font-size: 16px;
         }
      }

      &__subtitle {
         //card-box__subtitle/
         margin-bottom: 30px;
         font-size: 16px;
         color: $silver;
         @include respond-to(md) {
            font-size: 14px;
         }
      }
   }
}
.hex6 {
   width: 42px;
   height: 24px;
   background: #FFFFFF;
   top: 50%;
   left: 50%;
   transform: rotate(90deg);
   margin-bottom: 30px;
}

.hex6:before,
.hex6:after {
   content: '';
   width: 100%;
   height: 100%;
   background: #FFFFFF;
   position: absolute;
}

.hex6:before {
   transform: rotate(60deg);
}

.hex6:after {
   transform: rotate(-60deg);

}

.hex6,
.hex6:before,
.hex6:after {
   background: #E7E7E7;
}

.hover-wrap{
   //hover-wrap/
 display: none;
   position: absolute;
   width: 65%;
   top: 85px;
}
.hex6-svg{
   position: absolute;
   top: 0;
   width: 21px;
   height: 21px;
   fill: $red;
   z-index: 10;
   transform: rotate(-90deg);
   left: 12px;
}


.skills {
   @include flex-space-between();
   flex-wrap: wrap;
   width: 100%;
   margin-bottom: 100px;

   &-card {
      //skills-card/
      @include flex-column();
      flex-basis: calc(25% - 50px);
      margin: 25px 25px;
      text-align: center;
      @include respond-to(md) {
         flex-basis: calc(50% - 50px);
         margin: 25px;
      }
      @include respond-to(xl) {
         flex-basis: calc(50% - 30px);
         margin: 20px 15px;
      }
      @include respond-to(xs) {
         flex-basis: calc(100% - 20px);
         margin: 20px 10px;
      }
   }

   &-bg90 {
      //skills-bg90/
      @include flex-center();
      @include linear-gradient();
      background: linear-gradient(right, #FF0036 11%, #E0E0E0 10%);
      @include respond-to(md) {
         @include linear-gradient2();
      }


   }

   &-bg80 {
      //skills-bg80/
      @include flex-center();
      @include linear-gradient();
      background: linear-gradient(right, #FF0036 21%, #E0E0E0 20%);
      @include respond-to(md) {
         @include linear-gradient2();
      }

   }

   &-bg70 {
      //skills-bg70/
      @include flex-center();
      @include linear-gradient();
      background: linear-gradient(right, #FF0036 31%, #E0E0E0 30%);
      @include respond-to(md) {
         @include linear-gradient2();
      }

   }

   &-circle {
      //skills-circle/
      @include flex-center();
      background-color: #FFFFFF;
      width: 165px;
      height: 165px;
      border-radius: 50%;
      @include respond-to(md) {
         width: 125px;
         height: 125px;
      }
   }

   &__numer {
      //skills__numer/
      font-size: 45px;
      @include respond-to(md) {
         font-size: 30px;
      }
   }

   &__title {
      //skills__title/
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: bold;
      color: #000000;
      text-transform: uppercase;
      @include respond-to(md) {
         font-size: 18px;
      }
      @include respond-to(xl) {
         font-size: 16px;
      }
   }

   &__subtitle {
      font-size: 18px;
      font-weight: bold;
      @include respond-to(md) {
         font-size: 14px;
      }
   }
}


