.title-wrap {
   justify-content: center;
   align-items: center;
   flex-direction: column;
   @include respond-to(lg) {
      margin: 0 auto;
      max-width: 760px;
   }
   @include respond-to(xl) {
      margin: 0 auto;
      max-width: 480px;
   }

   &__title {
      font-size: 28px;
      margin-bottom: 50px;
      font-weight: bold;
      text-align: center;
      @include respond-to(lg) {
         margin-bottom: 20px;
      }
   }

   &__text {
      font-size: 16px;
      margin-bottom: 100px;
      text-align: center;
      line-height: 25px;
      font-weight: 600;
      @include respond-to(xl) {
         font-size: 14px;
         font-weight: 400;
         margin-bottom: 50px;
      }
      @include respond-to(xs) {
         font-size: 13px;
         margin-bottom: 20px;
         line-height: 15px;
      }
   }
}

.line {
  margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
   &__item{
      position: absolute;
      @include respond-to(xl){
         width: 350px;

      }
      @include respond-to(sm){
         width: 310px;
         height: 12px;
      }
   }
}